* {
  box-sizing: border-box;
}
/* for maun div */
.div {
  display: block;
  font-family: Roboto, Arial, sans-serif;
  height: 100%;
   border: 1px red solid;
}

/*  style of  header mainm gerader*/
.header {
  height: 90px;
  border: 1px red solid;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding-top: 0.5cm;
   border: 1px black solid;
}

.Searchbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: auto;
  width: auto;
   border: 1px black solid;
}

.logo {
  border: 1px black solid;
  height: 1cm;
  width: 100px;
  background-color: blue;
  color: white;
   border: 1px black solid;
}
.Logoimage {
  object-fit: cover;
  height: 100%;
  width: 100%;
   border: 1px black solid;
}
.Input {
  text-decoration: none;
   border: 1px black solid;
}

.Dropedown {
  height: 20px;
  width: auto;
  border: 1px black solid;
position: relative;
display: inline-block;
}

.Moreitem {
  position: absolute;
  display: none;
  z-index:1;
    border: 1px black solid;

}

.Dropedown:hover .Moreitem {
  display: block;

}
